<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1>{{title}}</h1>

        <span class="badge badge-light">
          <i class="fas fa-code-branch"></i> {{ this.service.getBranch }}
        </span>
        <span class="badge badge-light">
          <i
            [@showhide]="blinkingIcon"
            class="fas fa-circle green" ></i> live refresh
            <small class="text-muted">{{ this.service.refreshTime / 1000 }}s</small>
        </span>
      </div>

      <div class="col-12 col-md-4">
        <img class="logo" src="assets/images/volkerwessels_telecom_wide_gray.png" alt="Logo">
      </div>
    </div>
  </div>
</nav>
