$primary:                 #008bb8;
$primary-hover:           #007da5;

$white:                   #fff;
$black:                   #000;

$black-light:             #212529;

$gray:                    #e5e5e5;
$gray-hover:              #cecece;
$gray-light:              #f2f2f2;
$gray-light-hover:        #d9d9d9;
$gray-medium:             #a5a5a5;
$gray-medium-hover:       #848484;
$gray-dark:               #7f7f7f;
$gray-dark-hover:         #727272;

$green:                   #27ae60;
$green-hover:             #239c56;

$red:                     #c0392b;
$red-hover:               #ac3326;

$orange:                  #f39c12;
$orange-hover:            #da8c10;
