@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_buttons.scss";
@import "~bootstrap/scss/mixins/_gradients.scss";
@import "~bootstrap/scss/mixins/_box-shadow.scss";

// Collapsing menu
$breakpoint-menu: 992px;


// Tablet
$breakpoint-tablet: 768px;
$breakpoint-tablet-portrait-up: 600px;
$breakpoint-tablet-landscape-up: 900px;

// Mobile Phones
$breakpoint-phone-large-screen: 599px;
$breakpoint-phone-medium-screen: 375px;
$breakpoint-phone-small-screen: 320px;

// Desktop
$breakpoint-desktop: 1200px;
$breakpoint-desktop-big: 1800px;

// Buttons
.btn-primary, .btn-secondary, .btn-success, .btn-warning, .btn-danger {
  color: $white;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

// Background
.bg-light.bg-darker {
  background-color: $gray-hover !important;
}
.bg-success.bg-darker {
  background-color: $green-hover !important;
}
.bg-warning.bg-darker {
  background-color: $orange-hover !important;
}
.bg-danger.bg-darker {
  background-color: $red-hover !important;
}

// Background
.bg-success.bg-inverted {
  color: $green !important;
  background-color: $gray !important;
}
.bg-warning.bg-inverted {
  color: $orange !important;
  background-color: $gray !important;
}
.bg-danger.bg-inverted {
  color: $red !important;
  background-color: $gray !important;
}

// Screensizes
@mixin md-phone-only {
  @media (max-width: $breakpoint-phone-medium-screen) { @content; }
}
@mixin sm-phone-only {
  @media (max-width: $breakpoint-phone-small-screen) { @content; }
}
@mixin lg-phone-only {
  @media (max-width: $breakpoint-phone-large-screen) { @content; }
}
@mixin for-tablet {
  @media (max-width: $breakpoint-tablet) { @content;  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $breakpoint-tablet-portrait-up) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $breakpoint-tablet-landscape-up) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $breakpoint-desktop) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: $breakpoint-desktop-big) { @content; }
}
