$primary:       $primary;
$secondary:     $gray-dark;
$success:       $green;
$info:          $info;
$warning:       $orange;
$danger:        $red;
$light:         $gray;
$dark:          $black;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $gray-dark,
  "success":    $green,
  "info":       $info,
  "warning":    $orange,
  "danger":     $red,
  "light":      $gray,
  "dark":       $black
);
