<div class="container-fluid app-dashboard-overview">
  <div class="row">
    <div class="col-12 toolbar d-md-flex">
      <span class="badge bg-light text-dark">
        <i class="fas fa-code-branch"></i> {{ service.getBranch }}
      </span>

      <span
        *ngIf="this.service.interval"
        class="badge bg-light text-dark" >
        <i
          [@showhide]="blinkingIcon"
          class="fas fa-circle green" ></i> live refresh
          <small class="text-muted">{{ service.refreshTime | timeToText }}</small>
      </span>

      <span
        *ngIf="loader.isLoading | async"
        class="badge bg-warning" >
        <i class="fas fa-spinner fa-spin"></i> Refreshing
      </span>

      <span
        *ngIf="this.service.hasError"
        class="badge bg-danger" >
        <i class="fas fa-exclamation-triangle"></i> An error has occurred
      </span>

      <button
        type="button"
        class="btn btn-secondary btn-sm me-2 ms-md-auto"
        [disabled]="loader.isLoading | async"
        (click)="refreshData()">
        <i class="fas fa-sync-alt {{ (loader.isLoading | async) ? 'fa-spin' : '' }}"></i> Refresh now
      </button>
      <span class="badge bg-{{ this.service.hasError ? 'danger' : 'light text-dark' }}" title="Last updated">
        <i class="fas fa-history"></i> {{ this.service.lastUpdate ? (this.service.lastUpdate | date:'HH:mm') : 'N/A' }}
      </span>
    </div>

    <div class="col-12 masonry-outer">
      <ngx-masonry
        [options]="masonryOptions"
        [updateLayout]="this.service.updateMasonryLayout">
        <ng-container
          *ngIf="buildTriggerStatuses | async as triggerStatuses; else loading">
          <app-build-status
            ngxMasonryItem
            [ngClass]="['masonry-item']"
            [buildStatuses]="triggerStatuses"
            [buildStatusType]="'failing'"
            [buildStatusKind]="'trigger'" >
          </app-build-status>

          <app-build-status
            ngxMasonryItem
            [ngClass]="['masonry-item']"
            [buildStatuses]="triggerStatuses"
            [buildStatusType]="'pending'"
            [buildStatusKind]="'trigger'" >
          </app-build-status>

          <app-build-status
            ngxMasonryItem
            [ngClass]="['masonry-item']"
            [buildStatuses]="triggerStatuses"
            [buildStatusType]="'passing'"
            [buildStatusKind]="'trigger'"
            [buildStatusAmount]="5" >
          </app-build-status>
        </ng-container>

        <ng-container
          *ngIf="errorReporting | async as errorReporting; else loading">
            <app-error-reporting
              ngxMasonryItem
              [ngClass]="['masonry-item']"
              [errorReporting]="errorReporting"
              [errorReportingAmount]="5" >
            </app-error-reporting>
        </ng-container>

        <ng-container
          *ngIf="securityNotifications | async as securityNotifications; else loading">
            <app-security-notifications
              ngxMasonryItem
              [ngClass]="['masonry-item']"
              [securityNotifications]="securityNotifications"
              [securityNotificationsAmount]="5" >
            </app-security-notifications>
        </ng-container>
      </ngx-masonry>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="container" >
    <div class="alert alert-warning" role="alert" >
      <p>Loading metrics <i class="fas fa-spinner fa-spin"></i></p>
    </div>
  </div>
</ng-template>
