@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

.app-dashboard-overview {
  padding-top: 0;

  .toolbar {
    margin-bottom: 10px;

    span.badge {
      margin-right: 10px;
      font-size: 20px;
      padding: 5px 10px;

      i {
        margin-right: 5px;
      }
      small {
        color: $black-light !important;
      }
    }
    button {
      i {
        margin-right: 5px;
      }
      &.btn-secondary:hover {
        background-color: $gray-dark-hover;
      }
      &:disabled:hover {
        cursor: not-allowed;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .app-dashboard-overview {
    .toolbar {
      margin: 0;

      span.badge {
        margin-right: 5px;
        font-size: 15px;
        line-height: 15px;
        padding: 5px;
      }
      button {
        font-size: 15px;
        line-height: 15px;
      }
      span.badge, button {
        margin-bottom: 5px;
      }
    }
  }
}
