<ng-container *ngIf="buildStatuses">
  <div class="build-status-item">
    <div class="card {{ getFilteredStatuses(buildStatusType).length > 0 ? outlineColor(buildStatusType) : '' }}">
      <div class="card-header {{ cardColor }}">
        <i class="{{ cardHeaderIcon }}"></i>
        {{ cardHeader }}
      </div>

      <div class="card-body">
        <h4 class="card-title">
          <i class="fas {{ outlineIcon(buildStatusType) }}"></i> {{ buildStatusType }} builds
        </h4>

        <h2 class="build-count">{{ getFilteredStatusesCount(buildStatusType) }}</h2>

        <div
          *ngIf="getFilteredStatuses(buildStatusType).length > 0"
          class="build-status-badges">

          <span
            *ngIf="buildStatusAmount"
            class="build-count-limited">
            Last {{ (getFilteredStatusesCount(buildStatusType) < buildStatusAmount ? getFilteredStatusesCount(buildStatusType) : buildStatusAmount ) }} {{ buildStatusType }} builds {{ totalDays ? 'in last '+ totalDays +' days' : '' }}
          </span>

          <ng-container *ngFor="let buildStatus of getFilteredStatuses(buildStatusType, buildStatusAmount ? 5 : null)" >
            <a href="{{ getLogUrl(buildStatus) }}" target="_blank" title="View build">
              <div
                *ngIf="buildStatus"
                class="build-status {{ buildStatus.repo_name ? 'big' : 'small' }}" >
                <div class="badge badge-{{ badgeColor(buildStatus) }}" >
                  <div class="row">
                    <div class="col-1 badge-icon">
                      <i class="fas {{ badgeIcon(buildStatus) }}"></i>
                    </div>
                    <div class="col-11 badge-content">
                      <span class="badge-title">
                        {{ buildStatus.repo_name || buildStatus.project_id }}
                        <i *ngIf="(buildStatus.repo_name || buildStatus.project_id) == 'backup'" class="fas fa-cloud-download-alt fa-xs"></i>
                      </span>
                      <span
                        *ngIf="buildStatus.repo_name"
                        class="badge-text">
                        {{ buildStatus.project_id }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="badge badge-light build-status-time badge-content">
                  <span class="badge-title">
                    {{ buildStatus.updated_at || buildStatus.finish_time | timeDifference }}
                  </span>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
