<div class="container app-page-not-found">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-4 col-lg-3 icon-box">
      <div class="jumbotron">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="jumbotron">
        <h1>Oeps!</h1>
        <p class="lead">Deze pagina kan niet gevonden worden.</p>

        <button
          (click)="navigateHome()"
          type="button"
          class="btn btn-primary" >
          Ga terug naar het overzicht
        </button>
      </div>
    </div>
  </div>
</div>
