<div class="modal-inner {{ !backdrop ? 'no-click' : '' }}">
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button
      *ngIf="backdrop"
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross clicked')" >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ content }}</p>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="backdrop"
      type="button"
      class="btn btn-primary"
      (click)="activeModal.close('Close clicked')" >Close</button>
    <button
      *ngIf="!backdrop"
      type="button"
      class="btn btn-primary"
      (click)="closeOnError(activeModal)" >To login page</button>
  </div>
</div>
