<ng-container *ngIf="securityNotifications">
  <div class="security-notifications-item">
    <div class="card {{ securityNotifications.length > 0 ? 'red' : '' }}">
      <div class="card-header d-flex {{ cardColor }}">
        <i class="{{ cardHeaderIcon }} align-self-center"></i>
        {{ cardHeader }}

        <a routerLink="/security-command-centre" routerLinkActive="active" class="btn btn-secondary btn-xs ms-auto" title="View Security Command Centre">
          View more <i class="fas fa-chevron-right ms-2 me-0"></i>
        </a>
      </div>

      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-bell"></i> Security Notifications
        </h4>

        <h2
          *ngIf="securityNotifications.length <= 0"
          class="build-count">0</h2>

        <div
          *ngIf="securityNotifications.length > 0"
          class="security-notifications-badges">

          <span
            *ngIf="securityNotificationsAmount"
            class="build-count-limited">
            Last {{ securityNotificationsAmount }} updated security notifications
          </span>

          <ng-container *ngFor="let securityNot of getFilteredsecurityNotifications(securityNotifications, securityNotificationsAmount)" >
            <div class="security-notifications">
              <a href="{{ securityNot.external_uri }}" target="_blank" title="View resource">
                <div
                  class="badge bg-danger bg-inverted" >
                  <span class="badge-title">
                    {{ securityNot.category | replaceValue:'_':' ' | titlecase }}
                  </span>
                  <span
                    class="badge-content">
                    {{ securityNot.project_id }}
                  </span>
                </div>
                <div class="badge bg-light bg-darker text-red security-notifications-time" >
                  <span class="badge-title">
                    {{ securityNot.updated_at | timeDifference }}
                  </span>
                  <span
                    class="badge-content">
                    {{ securityNot.severity | uppercase }}
                  </span>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
