@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

.app-build-statuses {
  .build-status-item {
    padding: 10px;

    .card {
      background-color: $white;
      border-radius: 5px;

      h4.card-title,
      h2.build-count {
        color: $gray-dark;
      }

      span.build-count-limited {
        font-size: 10px;
        color: $gray-dark;
        text-transform: uppercase;
        font-weight: 700;
      }

      &.red {
        border: 2px solid $red;

        h4.card-title,
        h2.build-count {
          color: $red;
        }
        .badge.build-status-time {
          background: $red-hover;
          color: $white;
        }
      }
      &.orange {
        h4.card-title,
        h2.build-count {
          color: $orange;
        }
        .badge.build-status-time {
          background: $orange-hover;
          color: $white;
        }
      }
      &.green {
        h4.card-title,
        h2.build-count {
          color: $green;
        }
        .badge.build-status-time {
          background: $green-hover;
          color: $white;
        }
      }
    }

    .build-status-badges {
      margin-top: 10px;

      .build-status {
        width: 100%;
        display: table;
        float: left;
        margin: 5px 0;

        .badge {
          font-size: 15px;
          padding: 10px 15px 10px 10px;
          text-align: left;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          float: left;
          display: table;

          &.build-status-time {
            font-size: 8px;
            line-height: 9px;
            text-transform: uppercase;
            padding: 13px 5px;
            border-radius: 0 .25rem .25rem 0;
          }
        }
      }

      &.small {
        .build-status {
          .badge {
            font-size: 12px;
            padding: 5px 10px 5px 5px;

            &.build-status-time {
              font-size: 6px;
              line-height: 6px;
              padding: 8.5px;
            }
          }
        }
      }
    }
  }

  i {
    margin-right: 5px;
  }
}
