<div class="container app-login">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-unlock"></i>
          Authenticate
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 order-first order-md-last card-column">
              <small class="form-text text-muted" >
                The API key will be saved in the browsers session storage. The authentication also works with the 'in query' parameter <code>apiKey</code>.
              </small>
            </div>

            <div class="col-12 col-md-6 card-column">
              <form
                *ngIf="form; else loading"
                [formGroup]="form"
                (ngSubmit)="onSubmit()" >

                <div class="form-group input-group input-input">
                  <div class="input-group-prepend">
                    <label class="input-group-text text-wrap text-break" for="apikey">
                      API Key
                    </label>
                  </div>
                  <input
                    id="apikey"
                    class="form-control"
                    type="password"
                    [formControlName]="'apiKey'"
                    appFormPassword >

                  <div
                    *ngIf="form.get('apiKey').hasError('required') && form.get('apiKey').touched"
                    class="invalid-feedback" >
                    This field is required
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-primary mt-2"
                  [disabled]="form.valid ? false : true" >
                  Authenticate
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="alert alert-warning" role="alert" >
    <p>Fields are loading <i class="fas fa-spinner fa-spin"></i></p>
  </div>
</ng-template>
