@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

.app-login {
  padding: 15px;

  .card {
    .card-header {
      i {
        margin-right: 5px;
      }
    }

  }
}

@media (max-width: $breakpoint-tablet) {
  .app-login {
    .card {
      .card-body {
        padding: 10px;

        .card-column:last-child {
          margin-top: 10px;
        }
      }
    }
  }
}
