@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

.app-login {
  padding: 20px;

  .title {
    margin-bottom: 10px;
  }

  input {
    max-width: 400px;
  }

  small {
    display: table;
    width: 100%;
  }
}
