@import url("https://fonts.googleapis.com/css?family=Open+Sans:500,600,700,800&display=swap");

@import "~bootstrap/dist/css/bootstrap.css";

@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

$fa-font-path: "~src/assets/fonts/font-awesome";
@import "~src/assets/fontawesome/scss/fontawesome.scss";
@import "~src/assets/fontawesome/scss/regular.scss";
@import "~src/assets/fontawesome/scss/solid.scss";
@import "~src/assets/fontawesome/scss/brands.scss";


body {
  margin: 0;

  font-family: 'Open Sans', sans-serif !important;
  background-color: $gray-light;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight: 800;
  color: $gray-dark;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: $gray-dark;
}

h3 {
  font-size: 25px;
  margin: 0;
  font-weight: 500;
  color: $gray-dark;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  color: $gray-dark;
}

p {
  margin: 0;
}

small {
  font-size: 70%;
}

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
}

.container-fluid {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.green {
  color: $green;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}

// MASONRY LAYOUT STYLING
.masonry-outer {
  margin-left: -10px;
  margin-right: -10px;

  .masonry-item {
    padding: 10px;
  }
}

@media (min-width: $breakpoint-desktop + 1) {
  .masonry-item {
    width: calc(100% / 3);
  }
}

@media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
  .masonry-item {
    width: calc(100% / 2);
  }
}

@media (max-width: $breakpoint-tablet - 1) {
  .masonry-item {
    width: 100%;
  }
}


// AG GRID STYLING
.ag-grid {
  padding: 0;

  .ag-root {
    a {
      color: $primary;

      &:hover{
        color: $primary-hover;
        text-decoration: none;
      }

      &.view-more{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 10px;

        i {
          margin-left: 3px;
        }
      }
    }

    .ag-row.ag-group-row {
      background-color: $gray-light;
    }

    .cell-wrap-text {
      white-space: normal;
    }
  }
}
