<ng-container *ngIf="errorReporting">
  <div class="error-reporting-item">
    <div class="card {{ errorReporting.length > 0 ? 'red' : '' }}">
      <div class="card-header d-flex {{ cardColor }}">
        <i class="{{ cardHeaderIcon }} align-self-center"></i>
        {{ cardHeader }}

        <a routerLink="/stackdriver-centre" routerLinkActive="active" class="btn btn-secondary btn-xs ms-auto" title="View more errors">
          View more <i class="fas fa-chevron-right ms-2 me-0"></i>
        </a>
      </div>

      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-exclamation-circle"></i> Errors
        </h4>

        <h2
          *ngIf="errorReporting.length <= 0"
          class="build-count">0</h2>

        <div
          *ngIf="errorReporting.length > 0"
          class="error-reporting-badges">

          <span
            *ngIf="errorReportingAmount"
            class="build-count-limited">
            Last {{ (errorReporting.length < errorReportingAmount ? errorReporting.length : errorReportingAmount ) }} project errors
          </span>

          <ng-container *ngFor="let errorReport of getFilteredErrorReporting(errorReporting, errorReportingAmount)" >
            <div class="error-reporting">
              <a href="{{ getLogUrl(errorReport) }}" target="_blank" title="Visit logging page">
                <div
                  class="badge bg-danger bg-inverted" >
                  <span class="badge-title">
                    {{ errorReport.project_id }}
                  </span>
                  <span
                    class="badge-content">
                    <b>{{ errorReport.count | number:'1.0-0' }}</b> in last 7 days
                  </span>
                </div>
                <div class="badge bg-light bg-darker text-red error-reporting-time" >
                  <span class="badge-title">
                    {{ errorReport.received_at | timeDifference }}
                  </span>
                  <span
                    class="badge-content">
                    {{ errorReport.resource['type'] || '' | replaceValue:'_':' ' }}
                  </span>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
