<ng-container *ngIf="errorReporting">
  <div class="error-reporting-item">
    <div class="card {{ errorReporting.length > 0 ? 'red' : '' }}">
      <div class="card-header {{ cardColor }}">
        <i class="{{ cardHeaderIcon }}"></i>
        {{ cardHeader }}
      </div>

      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-exclamation-circle"></i> Errors
        </h4>

        <h2
          *ngIf="errorReporting.length <= 0"
          class="build-count">0</h2>

        <div
          *ngIf="errorReporting.length > 0"
          class="error-reporting-badges">

          <span
            *ngIf="errorReportingAmount"
            class="build-count-limited">
            Last {{ (errorReporting.length < errorReportingAmount ? errorReporting.length : errorReportingAmount ) }} projects with errors
          </span>

          <ng-container *ngFor="let errorReport of getFilteredErrorReporting(errorReporting, errorReportingAmount)" >
            <div class="error-reporting">
              <a href="https://console.cloud.google.com/errors?project={{ errorReport.project_id }}" target="_blank">
                <div
                  class="badge badge-danger" >
                  <span class="badge-title">
                    {{ errorReport.project_id }}
                  </span>
                  <span
                    class="badge-content">
                    <b>{{ errorReport.count }}</b> in last 7 days
                  </span>
                </div>
                <div class="badge badge-light error-reporting-time" >
                  <span class="badge-title">
                    {{ errorReport.latest_updated | timeDifference }}
                  </span>
                  <span
                    class="badge-content">
                    {{ errorReport.resource['type'] || '' | replaceValue:'_':' ' }}
                  </span>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
